<div class="container">
    <form action="/admin/add" method="POST">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form1Example1" name="title" class="form-control" />
            <label class="form-label" for="form1Example1">TItle</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form1Example2" name="body" class="form-control" />
            <label class="form-label" for="form1Example2">Body</label>
        </div>


        <!-- Submit button -->
        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Add Post</button>
    </form>
</div>