<div class="container mt-5">
    <form class="mt-5" action="/admin/edit/<%=post._id%>" method="POST">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" name="title" id="form1Example1" value="<%=post.title%>" class="form-control" />
            <label class="form-label" for="form1Example1">Title</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" name="body" id="form1Example2" value="<%=post.body%>" class="form-control" />
            <label class="form-label" for="form1Example2">Body</label>
        </div>


        <!-- Submit button -->
        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Edit Post</button>
    </form>
</div>