<div class="card text-center mt-5 ">
    <div class="card-header text-dark">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title text-dark">Blog Post Project created in Nodejs</h5>
    </div>
    <div class="card-footer text-dark">
        time
    </div>
</div>