<div class="container">
    <div class="row">
        <% posts.forEach(e=> { %>


            <div class="col-lg-4 col-md-6 col-12">
                <div class="card w-100" style="width: 18rem;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title text-dark">
                            <%- e.title %>
                        </h5>
                        <p class="card-text text-dark">
                            <%- e.body %>
                        </p>
                        <a href="/blog/<%- e._id %>" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
    <% if (nextPage !==null) { %>
        <a href="/?page=<%= nextPage %>">Oldest Posts</a>
        <% } %>
</div>